<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
       <!-- Spring配置管理业务逻辑组件 -->
       
       <!-- Spring可以配置数据源、事务、依赖注入、aop、注解注入 -->
</beans>